@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&family=Ubuntu:wght@300;400;500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

:root{
    --verde-escuro: #4da84d;
    --branco:#ffffff;
    --cinza: #f5f5f5;
    --preto1: #222;
    --cinza2: #999;
}

body{
    min-height: 100vh;
    overflow-x: hidden; /* corta o conteúdo se passar das bordas*/
}

.container{
    position: relative;
    width: 100%;
}

.navegador{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--verde-escuro);
    border-left: 10px solid var(--verde-escuro);
    transition: 0.5s;
    overflow: hidden;
}

.navegador ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navegador ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.navegador ul li:hover,.navegador ul li.hovered{ /*hover muda a cor quando o mouse passa por cima*/
    background: var(--branco); 

}

.navegador ul li:nth-child(1){ /*seleciona elementos com base em suas posições em um grupo de elementos irmãos*/
    margin-bottom: 40px;
    pointer-events: none; /*retira o evento de hover neste li*/
}

.navegador ul li a{
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: var(--branco);
}

.navegador ul li:hover a,.navegador ul li.hovered a{
    color: var(--verde-escuro);
}

.navegador ul li a .icone{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 65px; /*altura da linha, não foi feito div*/
    text-align: center;
}

/*.navegador ul li a .icone span{
    font-size: 1.75em;
}*/

.navegador ul li a .titulo{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap; /*espaços em branco dentro dos elementos , quebra a linha*/

}

.navegador ul li:hover a::before, .navegador ul li.hovered a::before{ /*borda interna arredondada*/
    content: '';
    position: absolute;
    right: 0px;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--branco);
    pointer-events: none;
}

.navegador ul li:hover a::after,.navegador ul li.hovered a::after{ /*borda interna arredondada*/
    content: '';
    position: absolute;
    right: 0px;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--branco);
    pointer-events: none;
}

span img {
    width: 20px;
    height: 20px;
   
  }